body {
  font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e5e5e5;
  color: #000000;
}
a {
  color: black;
}

.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1,2;
}
.logo-span {
   color: #2196F3;
}

.logo-span::first-letter {
  text-transform: uppercase;
}

.button {
  cursor: pointer;
}
